services:
  app:
    build: .
    ports:
      - "5000:5000"
    container_name: secretsdump-dragdrop
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
    restart: unless-stopped